@model CateringCompanyFormViewModel;
@{
    ViewBag.Title = "Edit Info";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="CateringCompany" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="form-label-add-edit">Name</label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Address" class="form-label-add-edit">Address</label>
                <input asp-for="Address" class="form-control" aria-required="false" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="IdentificationNumber" class="form-label-add-edit">Identification number</label>
                <input asp-for="IdentificationNumber" class="form-control" aria-required="true" />
                <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-danger">Confirm Information</button>
                <a asp-controller="Home" asp-action="RedirectToIdentityManage" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

