
<div class="text-center">
    <h1>Welcome to the Home Page</h1>
    <p>Here you can find information about your child's school food stamps.</p>
    <img src="../../images/HealtyCateringFood.jpg" class="img-fluid" alt="Healthy School Lunch" />
</div>