﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, Admin!</h2>
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>search</b> for specific <b>student</b>, <b>user</b> or <b>food stamp</b>.
        <br />You can <b>rent</b> and <b>leave</b> the free ones, too!
    </p>
    <hr class="my-4">
    <div class="mt-1 p-1 bg-light text-center">
        <a asp-area="Admin" asp-controller="Student" asp-action="Index" class="btn btn-primary btn-lg">All Students</a>
        <a asp-area="Admin" asp-controller="FoodStamp" asp-action="Index" class="btn btn-primary btn-lg">All Food Stamps</a>
        <a asp-area="Admin" asp-controller="User" asp-action="Index" class="btn btn-primary btn-lg">All Users</a>
    </div>
</div>