@model FoodStampFormViewModel;
@{
    ViewBag.Title = "Renew food stamp";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">@Model.ExpiryDate</h3>
                <p class="text-danger mt-3">"Are you sure you want to renew the food stamp whit Id: @Model.Id for @Model.ExpiryDate?"</p>
            </div>
            <div class="card-footer">
                <form asp-action="Renew" method="post">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="SchoolId" />
                    <input type="hidden" asp-for="CateringCompanyId" />
                    <input type="hidden" asp-for="IssueDate" />
                    <input type="hidden" asp-for="ExpiryDate" />
                    <input type="hidden" asp-for="RenewedDate" />
                    <input type="hidden" asp-for="Status" />
                    <input type="hidden" asp-for="StudentId" />
                    <input type="hidden" asp-for="MenuId" />
                    <input type="hidden" asp-for="ParentId" />
                    <button type="submit" class="btn btn-danger">Confirm</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
