@model StudentDeleteViewModel;
@{
    ViewBag.Title = "Delete student";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center"></h3>
                <p class="text-danger mt-3">"Are you sure you want to delete student with name: <span class="fw-bold">@Model.FirstName @Model.LastName</span>?"</p>
            </div>
            <div class="card-footer">
                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
