@{
    ViewData["Title"] = "All students";
}

<div class="text-center">
    <a class="btn btn-primary m-2" role="button" style="margin-right: 0" asp-area="" asp-controller="Student" asp-action="AddStudent">Add a student</a>
</div>