@{
    ViewData["Title"] = "Customization page";
}

<div class="text-center">
    <h2>Healthy School Lunch</h2>
    <p style="margin-top: 5em">Welcome to our <span>Healthy School Lunch Application!</span></p>
    <p style ="margin-top: 5em">Here you can customize your account.</p>

    <div class="text-center">
        <a class="btn btn-primary m-2" role="button" style="margin-right: 0" asp-area="" asp-controller="Parent" asp-action="Index">
            For Parents</a>
        <a class="btn btn-primary m-2" role="button" style="margin-right: 0" asp-area="" asp-controller="School" asp-action="Index">For Schools</a>
        <a class="btn btn-primary m-2" role="button" style="margin-right: 0" asp-area="" asp-controller="CateringCompany" asp-action="Index">For Catering</a>
    </div>
</div>

