﻿@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="../../../images/Error404.jpg" class="img-fluid" alt="404">
                <div class="text-left h4">
                    <p>Houston, we have a problem! The page you're searching for seems to have taken a vacation to the Bermuda Triangle. Try summoning it with a magic spell!</p>
                </div>
                <div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>