@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br />
        <div class="row">
            <div class="col-10">
                <img src="../../../images/Error400.jpg" class="img-fluid" alt="400" />
                <div class="text-left h4">
                    <p>Whoopsie! It seems the server couldn't decipher your request. Did you forget to speak in binary? Give it another shot!</p>
                    <div class="text-left h4">Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>