@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Healthy School Lunch</h2>
    <p style="margin-top: 5em">Welcome to our <a class="navbar-brand" style="margin-right: 0" asp-area="" asp-controller="Movies" asp-action="Index">Healthy School Lunch App</a>!</p>
</div>
