@{
    ViewData["Title"] = "School Home Page";
}

<div class="text-center">
    <h1>Welcome to the Home Page</h1>
    <p>Here, you can find information about food stamps that have been purchased in your school.</p>
    <img src="../../images/SchoolHall.jpg" class="img-fluid" alt="Healthy School Lunch" />
</div>
